:root
{
    --title-color: #322153; /*atalho*/
    --primary-color: #34cb79;
    --background-color: #e6e6e6; /*f0f0f5*/
}

* /*como se fosse um atalho/referência para todos*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: Roboto, sans-serif;
}

body
{
    background: var(--background-color);
    -webkit-font-smoothing: antialiased;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

/*BOX MODEL
Modelo de caixa.
Toda caixa tem: largura, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display),
posicionamento, alinhamentos*/

/*. é a referência para uma classe*/